{{define "title"}}Home{{end}} {{define "content"}}

<div class="container">
  <div class="sidebar">
    <form action="/" method="POST">
      <h3>Filter by First Album Date</h3>
      <p>e.g. 2000</p>
      <label for="min-album">Min-Year</label><br />
      <input type="number" name="min-album" id="min-album" /><br />
      <label for="max-album">Max-Year</label><br />
      <input type="number" name="max-album" id="max-album" /><br />

      <h3>Filter by Creation Date</h3>
      <p>e.g. 2000</p>
      <label for="min-creation">Min-Year</label><br />
      <input type="number" name="min-creation" id="min-creation" /><br />
      <label for="max-creation">Max-Year</label><br />
      <input type="number" name="max-creation" id="max-creation" /><br />

      <h3>Filter By Number of Members</h3>
      <input type="checkbox" name="members" value="1" />
      <label for="members">1</label><br>
      <input type="checkbox" name="members" value="2" />
      <label for="members">2</label><br>
      <input type="checkbox" name="members" value="3" />
      <label for="members">3</label><br>
      <input type="checkbox" name="members" value="4" />
      <label for="members">4</label><br>
      <input type="checkbox" name="members" value="5" />
      <label for="members">5</label><br>
      <input type="checkbox" name="members" value="6" />
      <label for="members">6</label><br>
      <input type="checkbox" name="members" value="7">
      <label for="members">7</label><br>
      <input type="checkbox" name="members" value="8">
      <label for="members">8</label><br>
      
      <br />
      <button type="submit">Filter</button>
    </form>
  </div>
  <div class="main">
    <h1>Welcome To The Groupie Tracker App</h1>

    <h2>Select artist you want to view</h2>

    {{range .}}
    <div class="card">
      <h3>{{.Artist.Name}}</h3>
      <img src="{{.Artist.Image}}" alt="{{.Artist.Image}}" /><br />
      <a href="/artist/{{.Artist.ID}}">Go to Artist</a>
    </div>
    {{end}}
  </div>
</div>
{{end}}